<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic-Tac-Toe - Tabuleiro</title>
  <link rel="stylesheet" href="./tabuleiro.css">
  <script type="module" src="../../controllers/tabuleiroController.js" defer></script>
</head>

<body>
  <main id="main">
    <section id="game-info">
      <span class="player-identification"></span>
      <span class="round-text"></span>
    </section>
    <section id="gameboard"></section>
  </main>

  <div id="popup">
    <div id="popup-content">
      <h2 id="popup-title"></h2>

      <p id="popup-text"></p>

      <div id="popup-btns">
        <button class="popup-btn" id="popup-main-btn"></button>
      </div>
    </div>
</body>

</html>